
body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #5a626d;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #5a626d;
}

#navigation {
	display: none;
	background-color: #d7dce3;
}

.button-special:hover {
	color: white;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 20px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #F37A42;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #3bc492;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.email-form {
	padding-bottom: 10px;
}

.vert-spacing {
	padding-top: 40px;
}

.vert-align {
	margin-top: 5px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background-color: #5a626d;
	padding: 100px 0px 195px 0px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 60px;
}

#headerwrap h2 {
	color: white;
	font-size: 30px;
	width: 75%;
	margin: auto;
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

.colored-text {
	color: #F37A42;
}

/* intro Wrap */

#intro {
	border-top: white solid 5px;
	padding: 40px 0px;
}

#intro p {
	width: 75%;
	margin: auto;
}

.circle {
	border-radius: 50%;	
}

.what {
	background-color: white;
}

.what h3 {
	color: #5a626d;
}

.why {
	background-color: white;
}

.why h3 {
	color: #5a626d;
}

.why p {
	color: #5a626d;
}

.who vert-spacing {
	width: 75%;
}

.signup-bottom {
	background-color: #5a626d;
}

.signup-bottom h2 {
	color: white;
}

.signup-bottom p {
	color: white;
}

#footerwrap {
	background-color: white;
	color: #5a626d;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

footer {
  padding: 100px 0;
}

/* Copyright Wrap */

#c {
	background-color: #5a626d;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white;
	text-align: center;
}


